body{
   background: white;
   font-family: tahoma;
   text-align: justify;
   overflow: hidden;
 }

 #about{
   padding-top: 98px;
   padding-bottom: 101px;
   margin-top: 7%;
 }

 #about .triangle-right{
   margin-top: 95px;
   width: 0;
   height: 0;
   border-top: 259px solid transparent;
   border-left: 470px solid #d6c6b2;
   border-bottom: 259px solid transparent;
 }

 #about .triangle-right img{
   position: absolute;
   left: -1px;
   top: 81px;
   width: 74%;

 }

 .fa-play{
   font-size: 100px;

 }


 #about .p-first{
   margin-bottom: 12px;
 }


 #about h2{
   font-family: 'Bebas Neue', cursive;
   color: #5c544d;
   font-style: italic;
   letter-spacing: 1.5px;
   font-size: 60px;
   margin-bottom: 12px;
   margin-top: 12px;
 }

 #about h1{
   font-family: 'Roboto Condensed', sans-serif;
   color: #5c544d;
   font-size: 20px;
   margin-bottom: 10px;
   margin-top: -15px;
 }

 #about a{
    text-decoration: none;
    color: black;
 }

  #about p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:black;
  }


 #about .social-link-text{
   margin-top: 50px;
   margin-bottom: 25px;

 }

 #about .about-link{
   padding-left: 0px;
 }

 #about .about-link li{
   display: inline-block;
 }

 #about .about-link li a i{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   line-height: 50px;
   text-align: center;
   border: 1.5px solid #5c544d;
   margin-right: 10px;
   font-size: 22px;
   color: #5c544d;
   transition: all .3s;

 }


 #about .about-link li a i:hover{
   color: white;
   background: #5c544d;
   border-color: #5c544d;

 }


 #about .about-img{
   position: relative;

 }

 #about .about-img{
   position: relative;

 }

 #about .about-img .man{
   position: absolute;
   bottom: 161px;
   top: 12px;
   left: -2px;

 }

 .color-3{
   color: #d6c6b2;
 }


 .text-white{
   color: white;
 }


 p{
   margin-bottom: 0;
   font-size: 16px;
   line-height: 24px;
   color: black;
 }

 .btn-danger{
   border-radius: 0;
   border:2px solid black;
   padding: 10px 20px;
   background-color: transparent;
   color: black;
 }

 .btn-danger:hover{
   border-radius: 0;
   border:2px solid #d6c6b2;
   padding: 10px 20px;
   background-color: #d6c6b2;
   color: white;
 }
